/* red #d76b73
    blue #74aedb
 */

body {margin:0;
background-color: #74aedb ;
font-family: Arial, Helvetica, sans-serif;
}


#logo {
    
    text-align: center;
}


main {
    margin: 80px 0 30px 30px;
    font-size: 18px;
}

.navbar-brand {
    margin: 0;
    padding: 0 0 0px 10px;

}

.container-fluid{
    background-color: white;
    border-bottom: solid 15px #d76b73;

}

.navbar-nav>li>a:hover{
    background-color: #d76b73;
    color: black
}

/*
 #navwrapper {
    height: 65px;
    border-bottom: solid 15px #74aedb;
    position: fixed;
}
*/

#addtext{
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
background-color: #74aedb;
    
}

#copy-footer {
    color: white;
    font-size: 1em;
    font-weight: normal;
    text-align: center;

}