<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" ng-model="searchText">


<h2>List Title Here</h2>


<a onclick="document.getElementById('id01').style.display='block'"><span class="glyphicon glyphicon-plus"></span></a> Add Medication<br><br>

<!-- <a ng-href="#!/add-med"><span class="glyphicon glyphicon-plus"> Add Medication</span></a> -->


<div class="medss" ng-repeat="item in medsInList | filter: searchText">

<div class="w3-container" style="width:100%;">
    <header class="w3-container w3-light-grey">
      <h3>{{item.medname}} - {{item.dose}}</h3>
    </header>

    <div class="w3-container w3-white">
    <p>Prescribed by: {{item.prescribedby}}</p>
    <p>Reason: {{item.reason}}</p>
    <p>Directions: : {{item.directions}}</p>
    <p>Special Notes: {{item.notes}}</p>
    </div>

    <footer class="w3-container w3-light-grey">
      <div><span class="glyphicon glyphicon-remove" ng-click="deleteMed(item.id)"></span>
      <!-- <span class="glyphicon glyphicon-edit" ng-href="#!/meds/:itemId/edit"></span> -->
          
          <a ng-href="#!/meds/:itemId/edit">Edit Med</a>
      </div>
    </footer>

  </div>
<br>
</div>

<!-- ******** MODAL ******** -->
<div id="id01" class="w3-modal" ng-controller="addMedCtrl">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        
        <h3>{{title}}</h3>

<form>
  <div class="form-row">
    <div class="form-group">
      <input type="input" class="form-control" id="" ng-model="meds.medname" placeholder="Medication Name">
    </div>
    <div class="form-group">
      <input type="input" class="form-control" id="" ng-model="meds.dose" placeholder="Dose">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <input type="input" class="form-control" id="" ng-model="meds.prescribedby" placeholder="Prescribed by">
    </div>
    <div class="form-group">
      <input type="input" class="form-control" id="" ng-model="meds.reason" placeholder="Reason for taking">
    </div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="" ng-model="meds.directions" placeholder="Directions">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="" ng-model="meds.notes" placeholder="Special Notes">
  </div>
  
  
  <button ng-click="submitMed()" class="btn btn-primary">{{submitButtonText}}</button>
</form>
        
      </div>
    </div>
  </div>
</div>


