<!-- Displays all medications in a single list. Uses med-ctrl.js -->

<!-- SEARCH BAR -->
<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" ng-model="searchText"><br>

<!-- ADD MED BUTTON -->
<a ng-href="#!/add-med" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add Medication</a>

<!-- WINDOW PRINT BUTTON: print function in list-ctrl.js-->
<button ng-click="print()" class="btn btn-default" ng-controller="listCtrl">Print</button>
<br><br>


<center><h1>{{allMedsListNames}}</h1></center>

<div class="medss" ng-repeat="item in medsInList | filter: searchText">

  <div class="w3-container" style="width:100%;">
    <header class="w3-container w3-light-grey">
      <h3>{{item.medname}} - {{item.dose}}</h3>
    </header>

    <div class="w3-container w3-white">
      <p>Prescribed by: {{item.prescribedby}}</p>
      <p>Reason: {{item.reason}}</p>
      <p>Directions: : {{item.directions}}</p>
      <p>Special Notes: {{item.notes}}</p>
    </div>
    
    <footer class="w3-container w3-light-grey">
      <div>
        <!-- Link to delete med function-->
        <span class="glyphicon glyphicon-remove" ng-click="deleteMed(item.id)"></span>
        <!-- Edit med link-->
        <a ng-href="#!/meds/{{item.id}}/edit"><span class="glyphicon glyphicon-edit"></span></a>
      </div>
    </footer>

  </div>
  <br>
</div>


