
<center><h1>About</h1></center>
	<!-- <div class="w3-container w3-white" style="width:100%;" id="about"> -->
<div class="w3-panel w3-card w3-white">
	<br>
	Med List is an app that allows users to keep track of medications by creating med lists. Lists contain medication name, along with pertinent information about the medication such as dosage, directions for use, and special notes. You can create multiple lists to suit your needs.<br><br>

	To get started, click <i>Add New List</i> to create a new list. After you've created a list, click the name of the list to start adding medications. Click the <i>Add Medication</i> button to enter the medication details.<br><br>

	To edit medication details click <span class="glyphicon glyphicon-edit"></span>.<br>
	To delete a medication from a list, click <span class="glyphicon glyphicon-remove"></span>. <br>
	You can print your medication list by selecting the <i>Print</i> button. You can also search a list using the search bar located at the top of each list.<br><br>

	To edit the name of a list, from the main page, click <span class="glyphicon glyphicon-edit"></span> for the name of the list you'd like to edit. <br>
	To delete a list, from the main page, click <span class="glyphicon glyphicon-remove"></span> for the list you would like to delete. This will delete the list and all of the medications associated with that list. 
	<br><br>
</div>