<!-- Forms for login. Uses auth-ctrl.js -->

<!-- LOGO -->
<div id="logo"><img src="app/images/MedList2.png" width="300" height="300"></div>
<br>

<div class="authBox" align="center">
<!-- Sign up/Login with e-mail and password -->
  <div class="form-group row">
    <div>
      <h3>Email address:</h3>
       <input type="email" id="email" ng-model="account.email" size="50">
    </div>
  </div>

  <div class="form-group row">
    <div>
      <h3>Password:</h3>
      <input type="password" id="pwd" ng-model="account.password" size="50">
    </div>
  </div>

  <button ng-click="logIn()" class="btn btn-default">Login</button>
  <button ng-click="register()" class="btn btn-default">Register</button>

  <div>
   <!--  Login with Google -->
    <h3>OR</h3>
    <button ng-click="loginGoogle()" class="btn btn-default">Sign In with Google</button>
  </div>

</div>


