<!-- Nav bar partial. Uses nav-ctrl.js -->
<!-- ng-show: show these items if user is logged in -->

<div id="navwrapper">
  <nav ng-show="isLoggedIn" class="navbar navbar-fixed-top" ng-controller="navCtrl">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- small logo -->
        <a class="navbar-brand" href="#"><img src="app/images/medlist.jpg" width="150" height="50"></a>
      </div>
    
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-show="isLoggedIn" ng-href="#!/add-list">Add New List</a></li>
        <li><a ng-show="isLoggedIn" ng-href="#!/all-lists">View All Lists</a></li>
  	   <li><a ng-show="isLoggedIn" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>